<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>

    <!--------------- Form di Login --------------->

    <div class="wrapper">
        <form [formGroup]="loginForm">
            <h1>Restricted Area</h1>
            <div class="errors" *ngIf="getErrorMessage()">
                <div>{{getErrorMessage()}}</div>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Email" formControlName="email" required>
                <i class='bx bxs-envelope' ></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" formControlName="password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            
            <button type="submit" (click)="login()" class="btn">Login</button>

        </form>
    </div>

</body>