<!--<link href='https://fonts.googleapis.com/css?family=Zen Tokyo Zoo' rel='stylesheet'>-->
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
<body>

    <!--------------- Banner --------------->

    <div class="hero">
        <div class="hero__content reveal">
            <p class="intro-text">I tuoi viaggi, sono la nostra passione. Viaggia con noi</p>
            <p class="big-text">CRS  racing  - the store</p>
            <p class="intro-text"> Il nostro team di esperti sarà al tuo fianco nei tuoi viaggi!<br><br>
                                   Se ancora non sei dei nostri, cosa aspetti?<br> Entra a far parte del nostro gruppo:</p>

            <!----- Tasto registrati ----->

            <div class="button-wrapper">
                <a routerLink="login/register" class="button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Registrati
                </a>
            </div>

        </div>

        <!----- Video sfondo ----->
        <video autoplay muted loop id="bg-video">
            <source src=".\assets\banner-video.mp4" type="video/mp4">
        </video>
    </div>

</body>