/*---------------General settings---------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/assets/addCatProd.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

/*---------------Contenitore principale---------------*/

.double-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    max-width: 1400px;
    width: 100%;
    padding: 20px;
}

/*---------------Form---------------*/

.wrapper {
    height: 635px;
    width: 450px;
    background: rgba(24, 24, 24, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.wrapper h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

/*-----Campi form-----*/

.wrapper .input-box {
    position: relative;
    width: 100%;
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 16px;
    color: white;
    padding: 0 15px;
    outline: none;
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Stile per i menu a tendina */
.input-box select,
.input-field select {
    width: 100%;
    height: 45px;
    background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 15px;
    outline: none;
    appearance: none; /* Rimuove lo stile predefinito */
    cursor: pointer;
}

/* Icona freccia personalizzata */
.input-box select,
.input-field select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px;
}

/* Stile delle opzioni */
.input-box select option,
.input-field select option {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
}

/* Stile per l'opzione placeholder */
.input-box select option[disabled] {
    color: rgba(255, 255, 255, 0.5); /* Colore più chiaro per il placeholder */
}

/* Effetto hover e focus */
.input-box select:hover,
.input-box select:focus,
.input-field select:hover,
.input-field select:focus {
    border-color: rgba(255, 255, 255, 0.5);
}


/*-----Tasto invio form-----*/

.wrapper .btn {
    width: 100%;
    height: 32px;
    background: rgba(25, 24, 24, 0.8);
    border: none;
    border-radius: 20px;
    color: #a82c2c;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wrapper .btn:hover {
    background-color: #a82c2c;
    color: white;
}


/*---------------Lista Prodotti---------------*/

.list {
    margin-top: 150px;
    flex: 1;
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 15px 0px;
}

.list .option {
    min-width: 250px;
    height: 330px;
    background: rgba(34, 32, 32, 0.1);
    border: 2px solid rgb(60, 57, 57);
    border-radius: 10px;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option-info {
    text-align: center;
}

.option-text {
    font-size: 19px;
    margin: 10px 0;
    font-weight: 500;
}

.option-button {
    margin-left: 50px;
    margin-top: 13px;
    width: 60%;
    height: 30px;
    background: rgba(25, 24, 24, 0.8);
    border: none;
    border-radius: 20px;
    color: #a82c2c;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 550;
    text-align: center;
    line-height: 30px;
}

.option-button:hover {
    background-color: #a82c2c;
    border-color: #a82c2c;
    color: white;
}

/*---------------Pop-up aggiornamento Prodotto---------------*/

.popup .content {
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 90%;
    max-width: 450px; 
    background: #7a3737;
    border-radius: 15px; 
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    color: white;
    opacity: 0; 
}

.popup.active .content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; 
}

.popup .close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    background: #ab2626;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.popup .close-btn:hover {
    background-color: #c0392b; 
    transform: scale(1.1); 
}

.popup h1 {
    font-size: 22px; 
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600; 
    color: white;
}

.popup .input-field {
    margin-bottom: 10px;
}

.popup .input-field input {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 0 15px;
    font-size: 14px;
    color: white;
    outline: none;
    transition: border-color 0.3s ease;
}

.popup .input-field input:focus {
    border-color: rgba(255, 255, 255, 0.5); 
}

.popup .second-button {
    width: 250px;
    height: 40px;
    background: #ab2626;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    line-height: 0px;
}

.popup .second-button:hover {
    background-color: #c0392b; 
}

/*-----Campi form aggiornamento-----*/

.input-field .validate {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 0 15px;
    font-size: 14px;
    color: white;
    outline: none;
}

.input-field .validate::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/*-----Tasti form aggiornamento-----*/

.second-button {
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.second-button:hover {
    background-color: #a82c2c;
}

/*---------------Scrollbar---------------*/

.list::-webkit-scrollbar {
    width: 4px;
}

.list::-webkit-scrollbar-thumb {
    background: rgba(122, 21, 21, 0.5);
    border-radius: 4px;
}

.list::-webkit-scrollbar-thumb:hover {
    background: #ab2222;
}