
/*---------------General settings---------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1323px;
    background: url('/assets/addCatProd.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

/*---Filtro colore---*/

.blacker{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.blacker.active{
    background-color: rgba(0, 0, 0, 0.8);
}

/*---------------Contenitore, form & lista ---------------*/

.double-wrap{
    display: grid;
    justify-items: center;
}

.double-wrap .wrapper{
    margin: 100px;
}

/*---------------Form---------------*/

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

/*-----Campi form-----*/

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0 10px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

/*-----Tasto invio form-----*/

.wrapper .btn{
    margin-top: 25px;
    width: 100%;
    height: 45px;
    background: rgb(0, 0, 0, 0.8);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #a82c2c;
    font-weight: 600;
    backdrop-filter: blur(20px);
}

.wrapper .btn:hover{
    background-color: #a82c2c;
    color: white;
}

/*---------------Lista Prodotti---------------*/

.list{
    max-width: 930px;
    margin: 50px;
    display: flex;
    overflow-x: auto;
}

.list .item{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: white;
    margin-right: 2px;
}

.list .option {
    min-width: 270px;
    height: 600px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 10px;
}

.list::-webkit-scrollbar{
    width: 12px;
}

.list::-webkit-scrollbar-thumb{
    background: rgba(122, 21, 21, 0.5);
    border-radius: 6px;
}

.list::-webkit-scrollbar-thumb:hover{
    background: #ab2222;
}

#options{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px;
}

.option {
    width: 270px;
    height: 330px;
    background-color: red;
    border-radius: 10px;
    border: 1px solid white;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.option-info{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.option-info:hover{
    opacity: 1;

}

.option-info:hover .option-text, .option-info:hover .option-button{
    transform: translateY(0);
}

.option-text{
    color: white;
    font-size: 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}

.bold {
    font-weight: bold;
}

.option-button{
    width: fit-content;
    line-height: 50px;
    padding: 0px 30px;
    margin: 20% auto;
    border: solid white 2px;
    color: white;
    font-size: 15px;
    transition: all 0.2s;
    transform: translateY(-20px);
    cursor: pointer;
}

.option-button:hover{
    background-color: #a82c2c;
    border: solid 2px #a82c2c;
    color: black;
}

.option-info a{
    text-decoration: none;
}

.main-carousel{
    border: 1px solid red;
    padding: 40px 0;
}

.carousel-cell{
    height: 350px;
    width: 350px;
    border: 1px solid red;
}

/*---------------Pop-up aggiornamento Prodotto---------------*/

.popup .content{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -150%) scale(0);
    width: 50%;
    height: 110%;
    z-index: 2;
    text-align: center;
    border-radius: 20px;
    background: #7a3737;
    box-shadow: 38px 38px 56px #2f0c0c, -15px -15px 28px #2f0c0c;
    z-index: 1;
}

.popup label{
    padding-left: 0%;
}

.popup .errors{
    margin-bottom: 10px;
}

.popup .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 30px;
    border-radius: 50%;
    background: #ab2626;
    box-shadow: 5px 5px 15px #2f0c0c, -5px -5px 15px #2f0c0c;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%)scale(1);
}

.popup h1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 7%;
}

.popup a{
    font-weight: 600;
    color: white;
}

/*-----Campi form aggiornamento-----*/

.input-field .validate{
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    color: black;
    background: #ae6969;
    box-shadow: inset 5px 5px 5px black, inset -5px -5px 5px #282828;
    outline: none;
}

.input-field .validate::placeholder{
    color: black;
}

/*-----Tasti form aggiornamento-----*/

.second-button{
    color:white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 40px;
    background: black;
    box-shadow: 8px 8px 15px #202020, -8px -8px 15px #2c2c2c;
    transition: box-shadow 0.35s ease;
    outline: none;
}

.second-button:hover{
    background: #ab2626;
}

select{
    width: 100%;
    height: 40px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    outline: none;
    font-size: 17px;
    padding: 0 10px;
    border-radius: 40px;
    cursor: pointer;
}

select option{
    color: white;
    background-color: #7c3e3e;
}

label{
    padding-left: 23%;
}