/*---------------General settings---------------*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/assets/comfortZone.jpg') no-repeat center/cover;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/*---------------Griglia Opzioni---------------*/
#options {
    display: flex;
    gap: 50px; /* Maggiore distanza tra le card */
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

/*---------------Card scelta operazione---------------*/
.option {
    width: 300px;
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.option:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

.option-info {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 80%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 40px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.option-text {
    color: white;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

/*---------------Tasto "Aggiungi"---------------*/
.option-button {
    background: white;
    color: black;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 20px; 
}

.option-button:hover {
    background-color: #a82c2c;
    color: white;
    transform: scale(1.1);
}

.option-info a {
    text-decoration: none;
}

/*---------------Tasto Sign Out Separato---------------*/
.signout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    border-radius: 15px;
    margin: 0 200px; 
}

.signOut-btn {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background: darkred;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signOut-btn:hover {
    background-color: #a82c2c;
}
