<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>

    <!--------------- Form di Registrazione --------------->

    <div class="wrapper">
        <form [formGroup]="registerForm">
            <h1>Registrazione</h1>

            <div class="errors" *ngIf="getErrorMessage()">
                <div>{{getErrorMessage()}}</div>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Nome" formControlName="nome">
                <i class='bx bx-id-card'></i>
            </div>

            <div class="errors" *ngIf="registerForm.get('nome')!.invalid">
                <div *ngIf="registerForm.get('nome')!.errors?.['required']">Inserisci un nome</div>
                <div *ngIf="registerForm.get('nome')!.errors?.['pattern']">Puoi inserire solo lettere</div>
                <div *ngIf="registerForm.get('nome')!.errors?.['minlength']">Inserisci almeno 2 lettere</div>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Cognome" formControlName="cognome">
                <i class='bx bxs-user-detail'></i>
            </div>

            <div class="errors" *ngIf="registerForm.get('cognome')!.invalid">
                <div *ngIf="registerForm.get('cognome')!.errors?.['required']">Inserisci un cognome</div>
                <div *ngIf="registerForm.get('cognome')!.errors?.['pattern']">Puoi inserire solo lettere</div>
                <div *ngIf="registerForm.get('cognome')!.errors?.['minlength']">Inserisci almeno 2 lettere</div>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Email" formControlName="email">
                <i class='bx bxs-envelope'></i>
            </div>

            <div class="errors" *ngIf="registerForm.get('email')!.invalid">
                <div *ngIf="registerForm.get('email')!.errors?.['required']">Inserisci una mail</div>
                <div *ngIf="registerForm.get('email')!.errors?.['pattern']">Inserisci una mail valida</div>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Password" formControlName="password" ngModel maxlength="16">
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="errors" *ngIf="registerForm.get('password')!.invalid">
                <div *ngIf="registerForm.get('password')!.errors?.['required']">Inserisci una password</div>
                <div *ngIf="registerForm.get('password')!.errors?.['pattern']">Inserisci almeno:<br>
                    -8 caratteri<br>
                    -una lettera minuscola<br>
                    -una lettera maiuscola<br>
                    -un numero<br>
                </div>
            </div>
            
            <button (click)="signUp()" class="btn">Registrati</button>

        </form>
    </div>

</body>