
/*---------------General settings---------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/userHome-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.error-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.error-container .error-available{
    background-color: #ab2222;
    height: 200px;
    width: 75%;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-container .error-available h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*---------------Dati utente---------------*/

.wrapper{
    width: 85%;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 40px 60px 80px 60px;
    margin: 100px;
}

.heading{
    text-align: center;
    color: #ffd9e2;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #ab2222,
                0 0 20px #ab2222,
                0 0 40px #ab2222,
                0 0 80px #ab2222,
                0 0 120px #ab2222;
    text-transform: uppercase;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.cell{
    margin: 20px;
}

.cell h1{
    color: #ffd9e2;
    text-shadow: 0 0 10px #ab2222,
                0 0 20px #ab2222,
                0 0 40px #ab2222,
                0 0 80px #ab2222,
                0 0 120px #ab2222;
}

.cell .option-button{
    width: fit-content;
    line-height: 50px;
    padding: 0px 30px;
    margin: 10% 5px;
    border: solid 2px #7a1515;
    border-radius: 30px;
    background: #ab2222;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.2s;
    cursor: pointer;
}

.cell .option-button:hover{
    background-color: #a82c2c;
    border: solid white 2px;
    color: white;
    box-shadow: 0 0 5px #ab2222,
                0 0 25px #ab2222,
                0 0 50px #ab2222,
                0 0 200px #ab2222;
}

/*---------------Storico acquisti---------------*/

.story-container {
    width: 100%;
    background: url('/assets/searchProd-bg.jpg');
    display: flex;
    flex-direction: column;
}

.story {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    width: 100%;
}

.story-grid {
    display: flex;
    grid-gap: 30px;
    margin-top: 1rem;
    padding: 0 10px;
}

.story-list{
    display: flex;
    overflow-x: scroll;
    min-width: 1000px;
    padding-right: 20px;
}

.story-list::-webkit-scrollbar{
    width: 12px;
}

.story-list::-webkit-scrollbar-thumb{
    background: rgba(122, 21, 21, 0.5);
    border-radius: 6px;
}

.story-list::-webkit-scrollbar-thumb:hover{
    background: #ab2222;
}

.story-item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    min-width: 320px;
    min-height: 400px;
    color: white;
    text-align: center;
    background: linear-gradient(45deg, #03a9f4, #ff0058);
    backdrop-filter: blur(5px);
    margin: 20px 30px;
    transition: 0.5s;
}

.story-item:hover {
    box-shadow: 0 0 5px #03a9f4,
                0 0 15px #03a9f4,
                0 0 20px #ff0058,
                0 0 30px #ff0058;
}

.story-item .content{
    flex-direction: column;
    position: relative;
    z-index: 5;
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

.story-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.story-item h3{
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

.story-item p{
    font-size: 1.1em;
    color: white;
    margin-bottom: 10px;
    line-height: 1.4em;
}